.typing h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #4FC3F7;
    animation: cursorBlink 0.8s steps(3) infinite
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1
    }

    76%,
    100% {
        opacity: 0
    }
}

.typing h3 {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 3s steps(16);
}

@keyframes type {

    0%,
    50% {
        width: 0px
    }
    
    100% {
        width: 7.6em
    }
}